#carousel-wrapper {
	-webkit-animation-name: fadeIn;
	-webkit-animation-duration: 2s;
}
@-webkit-keyframes fadeIn{
	from {opacity: 0;}
	to {opacity: 1}
}

#opaque-layer {
	opacity: 0.8;
	background-color: black;
	padding: 0% 20% 0% 20%;
    height: 100%;
}
#slide-one {
	background:url('/cityfriends');
	background-size: cover;
	height: 101vh;

}
#slide-one img {
	display: block;
	margin-left: auto;
	margin-right: auto;
}
#slide-one #opaque-layer h1 {
	text-align: center;
	opacity: 1;
	font-style: oblique;
}
#slide-one p {
	text-align: center;
	font-size: 32px;
	color: grey;
	font-weight: 600;
}
#slide-one a {
	   padding: 1%;
    text-align: center;
    width: 400px;
    background: #3d9ac6;
    border-radius: 5px;
    margin-top: 3%;
    font-size: 40px;
    font-weight: 100;
    text-decoration: none;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
#slide-one a : hover {
	background:white;
}
#info-wrapper {
	display: inline-flex;
	margin-top: 2%;

}
#info-wrapper p {
	font-size: 20px;
	text-align: justify;
}
#inner-info img {
	width: 75px;
	float: left;
	margin-right: 3%;
	display: inline-flex;
}
#info {
	width: 50%;
}
#housing-info {
	width: 50%;
	padding-left: 2%;
	margin-left: 2%;
	border-left: solid grey 1px;
}
#login-hidden-layer {
	position: fixed;
	left: 25vw;
	width: 50vw;
	top: 15vh;
	background: none;
	visibility: visible;
}
#landing-buttons button {
	display: block;
	margin-right: auto;
	margin-left: auto;
}
