#amenities {
	width: 30%;
	border-top: solid white 1px;
	font-size: 20px;
	margin-left: auto;
    margin-right: auto;
    margin-top: 1%;

}
#housingsearch-container {
	width: 100vw;
	padding: 1%;
	display: inline-flex;
}
#housingsearch-filter{
	font-size: 35px;
	padding: 1%;
    border: solid white 1px;
    border-radius: 15px;
    margin-right: 1%;
}
#housingsearch-filter select {
	height: 7vh;
}
#housingsearch-filter button {
	display: block;
	margin-left:auto;
	margin-right: auto;
}
#result-container {
	display: inline-flex;
	font-size: 30px;
	font-weight: 300;
	padding: 1%; 
	border:solid 1px white;
	width: 65vw;
	border-radius: 15px;
}
#housingsearch-results-wrapper label {
	font-size: 35px;
	font-weight: 300;
}
#result-container p {
	margin: 0;
	font-size: 30px;
	font-weight: 200;
}
#result-container img {
	width: 20vw;
}
#results-details {
	padding: 1%;
}