#saved-roommates {
	display: inline-flex;
	overflow-x: scroll;
	padding:1%;
	text-align: center;
	width: 99.5vw;
	padding: 0% 3%;
}
.buffer {
	padding: 1%;
	cursor:pointer;
}
.tuffer {
	margin-right: 3%;
	cursor:pointer;
}
#roommate-pic {
	width:10vw;
	height: 10vw;
	display: block;
	margin-left: auto;
	margin-right: auto;
}
#profile-heading {
	padding: 1%;
	color: white;
	font-weight: 600;
}
#saved-roommates p {
	width:30vw;
}
#saved-housing {
	padding: 0% 3%;
	display: inline-flex;
	overflow-x: scroll;
	width:99.5vw;
}