#roommate-pic {
	width: 25vw;
	border-radius:5%;
	height: 25vw;
}
#search-container {
	display: inline-flex;
}
#filter-container {
	width: 30vw;
	height: 95vh;
	border-right: solid 1px white;
	padding:2%;
	border-radius: 5px;
	text-align: right;
}
#filter-container select {
	margin-top: 2%;
	margin-bottom: 2%;
	height: 2vw;
	font-size: 25px;
	padding: 1%;
	width:7vw;
}
#filter-container input[type=number] {
	background: #3d9ac6;
	height: 2vw;
	font-size: 25px;
	width:7vw;
}
#filter-container input[type=time] {
	background: #3d9ac6;
	height: 2vw;
	font-size: 25px;
	width:7vw;
}
#filter-container label {
	font-size: 25px;
}
#results{
	width: 65vw;
	height: 90%;
	float: right;

}
#filter-button {
	width: 3vw;
	height: 3vw;
	margin-bottom: 2%;
}
#previous-roommate {
	width: 5vw;
	height: 5vw;
	border-radius: 100%;
	border:solid white 5px;
	color:white;
	font-weight: 800;
}
#next-roommate {
	width: 5vw;
	height: 5vw;
	border-radius: 100%;
	border:solid white 5px;
	color:white;
	font-weight: 800;
	float: right;
}
#roommate-container {
	text-align: center;
	display: inline-flex;
	margin: 1%;
}
#search-filter-button {
	display: block;
    margin-left: auto;
    margin-right: auto;
    color:white;
}
#roommate-box {
	margin-top: 3%;
	background: black;
	width:37vw;
	padding: 2%;
	display:block;
	margin-left: auto;
	margin-right:auto;
	border-radius: 15px;
	border: solid 3px #3d9ac6;
}
#roommate-box h1  {
	margin-top: 2%;
	margin-bottom: 0;
	font-weight: 400;
}
#roommate-box h2 {
	display: inline-flex;
	margin: 0;
	padding: 1%;
	font-weight: 200;

}
#roommate-box p {
	width: 100%;
	font-size: 25px;
	margin-right: auto;
    margin-left: auto;
}
#results-wrapper {
	display: inline-block;
	padding: 1%;
	width:50vw;
	margin-left:15%;
}
#remove-container {
	padding-top:18%;
	display: inline-flex;
}
#save-container {
	padding-top:18%;
	display: inline-flex;
}
#remove-roommate {
    background: none;
    width: fit-content;
}
#remove-roommate img {
	width: 5vw;
}
#save-roommate {
    background: none;
    width: fit-content;
}
#save-roommate img {
	width: 5vw;
}
#contact {
	text-decoration: underline;
	color: #3d9ac6;
}