#header-container {
	display: inline-flex;
	width: 100vw;
    height: 6vh;
    background: black;
}
#header-wrapper {
	background: black;
}
#header-container img {
	height: 4vw;
	width: 8vw;
}
#header-buttons button {
	color: white;
    background: none;
    width: 4vw;
    height: 3vw;
    font-size: 40px;
    margin-top: 2%;
}
#header-buttons {
	display: inline-flex;
	margin-left: auto;
}
#settings-menu-buffer {
	width:0;
	height: 0;
	margin:0;
	position: fixed;
	right: 13%;
	top:9%;
	visibility: hidden;
}
#settings-menu {
	widows: 5vw;
}
#settings-menu button {
	border-radius: 0px;
	padding: 1%;
}
#logout {
	border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}
#settings  {
	border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}