body {
	color:#fff;
	font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Ubuntu, "Helvetica Neue", sans-serif;
	background-color: black;
}
a {
	width: 150px;
	cursor: pointer;
}
button {
	cursor:pointer;
	padding: 1%;
    background: #3d9ac6;
    border-radius: 5px;
    margin-top: 3%;
    width: 400px;
    font-size: 30px;
    font-weight: 100;
    text-decoration: none;
    border: none;
}
input {
	border-radius: 5px;
	background-color: white;
	border:none;
	color: black;

}
