#create-account-container {
	background-color: black;
    -webkit-animation-name: fadeIn;
    -webkit-animation-duration: 2s;
    width: 800px;
    height: 650px;
    margin-left: auto;
    margin-right: auto;
    padding: 2%;
    border-radius: 5px;
    text-align: center;
    margin-top: 10%;
   
}
@-webkit-keyframes fadeIn{
	from {opacity: 0;}
	to {opacity: 1}
}
#create-account-container input {
	width: 80%;
}
#card-1 {
}
.questionaire-card {
	background: black;
	border-radius: 5px;
	text-align: center;
	font-size: 5vh;
	font-weight: 100;
	padding: 1%;
	width: 40vw;
	height: 55vh;
}
#questionaire-container {
	display: -webkit-box;;
	overflow-x:scroll;
	width: 40vw;
	height: 58vh;
	margin-left:auto;
	margin-right: auto;
	margin-top: 5%;

}
.questionaire-card input[type='radio'] {
  -webkit-appearance: none;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  background: #1e1d1d;
  border: 2px solid #3d9ac6;
  transition: 0.2s all linear;
  margin-right: 5px;
  position: relative;
  top: 4px;

}
.questionaire-card input[type='radio']:checked {
	border: 6px solid gold;
}
.questionaire-card input[type='time']{
	width: 50%;
	height: 20%;
	background: #3d9ac6;
	border:none;
	color: white;
	font-size: 5vh;
}
.questionaire-card select {
	width: 50%;
    height: 25%;
    text-align: center;
    font-size: 5vh;
    font-weight: 100;
    color:white;
    border:none;
    background: #3d9ac6;
}
.questionaire-card textarea {
	width: 80%;
	height: 35%;
	border: none;
	color: white;
	background: #3d9ac6;
	font-size:3vh;
	resize: none;
	font-weight: 100px;
	padding: 1%;
	border-radius:5px;
	text-align: justify;
}
#questionaire-logo{
	display: block;
    margin-left: auto;
    margin-right: auto;
}
#questionaire-create {
	position: fixed; 
	top: 85vh;
	left: 50vw;
	width: 5vw;
	border-radius: 50px;
}
#create-account-wrapper {
	width: 100vw;
    height: 100vh;
    background: radial-gradient(#2a3850, black);
    display: inline-block;
    
}
input[type=range] {
  -webkit-appearance: none; /* Hides the slider so that custom slider can be made */
  width: 80%; /* Specific width is required for Firefox. */
  background: #3d9ac6; /* Otherwise white in Chrome */
}

input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none;
}

input[type=range]:focus {
  outline: none; /* Removes the blue border. You should probably do some kind of focus styling for accessibility reasons though. */
}

input[type=range]::-ms-track {
  width: 100%;
  cursor: pointer;

  /* Hides the slider so custom styles can be added */
  background: transparent; 
  border-color: transparent;
  color: transparent;
}
input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none;
  border: 1px solid #000000;
  height: 44px;
  width: 24px;
  border-radius: 3px;
  background: #ffffff;
  cursor: pointer;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d; /* Add cool effects to your sliders! */
}

/* All the same stuff for Firefox */
input[type=range]::-moz-range-thumb {
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  border: 1px solid #000000;
  margin-top: 3%;
  height: 44px;
  width: 24px;
  border-radius: 3px;
  background: #ffffff;
  cursor: pointer;
}

/* All the same stuff for IE */
input[type=range]::-ms-thumb {
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  border: 1px solid #000000;
  margin-top: 10%;
  height: 44px;
  width: 24px;
  border-radius: 3px;
  background: #ffffff;
  cursor: pointer;
}
#clean {
	width: 15vw;
    height: 15vw;
    background: transparent;
    color: white;
    font-size: 25vh;
    text-align: center;
    border-radius: 50vw;
    border: solid 1px #3d9ac6;
    margin-top: 10%;
}
#next-card {
	position: fixed;
	right: 15%;
	top: 40%;
	font-size: 10vh;
	color: white;
	background: none;
	border: none;

}
#previous-card {
	position: fixed;
	left: 15%;
	top: 45%;
	font-size: 10vh;
	color: white;
	background: none;
	border: none;
}